<html>
    <head>
        <title>Momos Recommendations</title>

    </head>
    <body bgcolor='cyan' text-align='center'>
        <form action="{{url_for('predict')}}" method='post'>
            <table>
                <tr>
                    <td>
                        <label>Transaction Date(yyyy-mm-dd)</label>
                    </td>
                    <td>
                        <input type = "text" name = "transaction_date" />
                    </td>
                </tr><br>

            <tr><td><label>Brand Name</label></td>
                <td><input type = "text" name = "brand_name" /></td></tr><br>

            <tr><td><label>Outlet Name</label></td>
                <td><input type = "text" name = "outlet_name" /></td></tr><br>
                    
            <tr><td><label>Channel</label></td>
                <td><input type = "text" name = "channel" /></td></tr><br>
            
            <tr><td><label>Transaction Hour</label></td>
                <td><input type = "text" name = "transaction_hour" /></td></tr><br>
              
            <tr><td><label>Click Recommend to get recommendations</label></td><td><button type = "submit">Recommend</button></td></tr>
            </table>

        </form>
        <label bgcolor='pink'><b>{{prediction}}</b></label>
    </body>
</html>
